.roboto-font-family{
    font-family: 'Roboto', sans-serif;
    color:  #101010;
}

.concert-font-family{
    font-family: 'Concert One', cursive;
    color:  #101010;
}

@media (min-width: 360px){
    h5{
        font-size: 16px;
        margin: 15px 0 20px;
    }
    
    p{
        font-size: 12px;
        margin: 0;
    }
    
    .logo{
        background-color: #D5EC76;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo img{
        width: 300px;
    }
    
    .social-login{
        background-color: #C7E44F;
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-login{
        background-color: #C7E44F;
        width: 180px;
        height: 50px;
        font-size: 26px;
    }
    
    .register{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .register p{
        margin: 0;
    }
    
    .footer-style{
        background-color: #D5EC76;
        height: 40px;
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 992px){
    
}