.roboto-font-family{
  font-family: 'Roboto', sans-serif;
  color:  #101010;
  margin: 0;
}

.concert-font-family{
  font-family: 'Concert One', cursive;
  color:  #101010;
  margin: 0;
}

.font-pp{
  font-size: 12px;
}

.font-p{
  font-size: 14px;
}

.font-m{
  font-size: 18px;
}

.font-g{
  font-size: 26px;
}

@media (min-width: 300px) and (max-width: 759px){
  .navbar-style{
    background-color: #D5EC76;
    width: 100%;
    height: 60px;
  }
  
  .nav-items{
    width: 100%;
  }
  
  .menu-colapse{
    background-color: #D5EC76;
    z-index: 1;
  }
  
  .logo-feed{
    width: 120px;
  }
  
  .border-li{
    border-bottom: 1px solid #101010;
  }
  
  .navbar-icons img{
    width: 40px;
  }
  
  .icons-text{
    display: inline;
  }
  
  .btn-new-post{
    background-color: #C7E44F;
    width: 280px;
    height: 50px;
  }
  
  .btn-add-change{
    background-color: #C7E44F;
    width: 180px;
    height: 50px;
  }
  
  .btn-add-change:hover{
    background-color: #CCCCCC;
  }
  
  .btn-cancel{
    background-color: #CCCCCC;
    width: 100px;
    height: 35px;
  }
  
  .btn-cancel:hover{
    background-color: #D5EC76;
  }
  
  .cancel-add-posts{
    background-color: #CCCCCC;
    width: 100px;
    height: 35px;
  }
  
  .space-title-feed{
    width: 320px;
  }
  
  .space-title-feed h5{
    width: 150px;
  }
  
  .posts-list li{
    list-style: none;
    width: 320px;;
  }
  
  .posts{
    border: 1px solid #CCCCCC;
  }
  
  .post-text{
    border-bottom: 1px solid #CCCCCC;
  }
  
  .favorite-modal img{
    width: 25px;
    cursor: pointer;
  }
  
  .update-modal img{
    width: 25px;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .remove-modal img{
    width: 25px;
    cursor: pointer;
  }
  
  .footer-style{
    background-color: #D5EC76;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
}

@media (min-width: 760px){
  .navbar-style{
    background-color: #D5EC76;
    height: 70px;
  }
  
  .nav-items{
    width: 100%;
  }
  
  .logo-feed {
    width: 180px;
  }
  
  .btn-search{
    width: 50px;
    border-radius: 50%;
    background-color: #C7E44F;
  }
  
  .btn-search:hover{
    background-color: #CCCCCC;
  }
  
  .btn-search img{
    width: 20px;
  }
  
  .navbar-icons img{
    width: 40px;
  }
  
  .icons-text{
    display: none;
  }
  
  .aside-content{
    background-color: #C7E44F;
    height: 70vh;
    text-align: center;
  }
  
  .btn-new-post{
    background-color: #C7E44F;
    width: 400px;
    height: 50px;
  }
  
  .btn-new-post:hover{
    background-color: #CCCCCC;
  }
  
  .btn-add-change{
    background-color: #C7E44F;
    width: 180px;
    height: 50px;
  }
  
  .btn-add-change:hover{
    background-color: #CCCCCC;
  }
  
  .btn-cancel{
    background-color: #CCCCCC;
    width: 100px;
    height: 35px;
  }
  
  .btn-cancel:hover{
    background-color: #D5EC76;
  }
  
  .space-title-feed{
    width: 600px;
  }
  
  .posts-list li{
    list-style: none;
    width: 600px;
  }
  
  .posts{
    border: 1px solid #CCCCCC;
  }
  
  .post-text{
    border-bottom: 1px solid #CCCCCC;
  }
  
  .update-modal img{
    width: 30px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  .update-modal img:hover{
    background-color: #D5EC76;
    border-radius: 50%;
    width: 30px;
  }
  
  .remove-modal img{
    width: 30px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  .remove-modal img:hover{
    background-color: #CCCCCC;
    border-radius: 50%;
    width: 30px;
  }
  
  .favorite-modal img{
    width: 30px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  .favorite-modal img:hover{
    background-color: #f7338e;
    border-radius: 50%;
    width: 30px;
  }
  
  .footer-style{
    background-color: #D5EC76;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
}