.roboto-font-family{
  font-family: 'Roboto', sans-serif;
  color:  #101010;
  margin: 0;
}

.concert-font-family{
  font-family: 'Concert One', cursive;
  color:  #101010;
  margin: 0;
}

@media (min-width: 200px) and (max-width: 759px){
 .font-p{
    font-size: 12px;
  }
  
  .font-m{
    font-size: 18px;
  }
  
  .font-g{
    font-size: 26px;
  }
  
  .navbar-style{
    background-color: #D5EC76;
    width: 100%;
    height: 60px;
  }

  .nav-items{
    width: 100%;
  }
  
  .logo-feed img{
    width: 120px;
  }
  
  .navbar-icons img{
    width: 40px;
  }
  
  .aside-content{
    background-color: #C7E44F;
    height: 70vh;
  }
  
  .btn-new-post{
    background-color: #C7E44F;
    width: 200px;
    height: 50px;
  }
  
  .btn-new-post:hover{
    background-color: #CCCCCC;
  }
  
  .textarea-style{
    resize: none;
    width: 400px;
    height: 150px;
  }
  
  .add-posts{
    background-color: #C7E44F;
    width: 180px;
    height: 50px;
  }
  
  .add-posts:hover{
    background-color: #CCCCCC;
  }
  
  .cancel-add-posts{
    background-color: #CCCCCC;
    width: 100px;
    height: 35px;
  }

  .posts-list li{
    list-style: none;
  }

  .posts{
    border: 1px solid #CCCCCC;
    margin-bottom: 1rem;
  }
  
  .favorite-modal img{
    width: 30px;
    cursor: pointer;
  }
  
  .update-modal img{
    width: 30px;
    cursor: pointer;
  }
  
  .remove-modal img{
    width: 30px;
    cursor: pointer;
  }
  
  .footer-style{
    background-color: #D5EC76;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    position: fixed;
    bottom: 0;
}
}

@media (min-width: 760px){
  .font-p{
    font-size: 12px;
  }
  
  .font-m{
    font-size: 18px;
  }
  
  .font-g{
    font-size: 26px;
  }
  
  .navbar-style{
    background-color: #D5EC76;
    height: 60px;
  }

  .nav-items{
    width: 100%;
  }
  
  .logo-feed img{
    width: 180px;
  }
  
  .navbar-icons img{
    width: 40px;
  }
  
  .aside-content{
    background-color: #C7E44F;
    height: 70vh;
  }
  
  .btn-new-post{
    background-color: #C7E44F;
    width: 400px;
    height: 50px;
  }
  
  .btn-new-post:hover{
    background-color: #CCCCCC;
  }

  .add-posts{
    background-color: #C7E44F;
    width: 180px;
    height: 50px;
  }
  
  .add-posts:hover{
    background-color: #CCCCCC;
  }
  
  .cancel-add-posts{
    background-color: #CCCCCC;
    width: 100px;
    height: 35px;
  }

  .posts-list li{
    list-style: none;
  }

  .posts{
    border: 1px solid #CCCCCC;
    margin-bottom: 1rem;
  }
  
  .favorite-modal img{
    width: 30px;
    cursor: pointer;
  }
  
  .update-modal img{
    width: 30px;
    cursor: pointer;
  }
  
  .remove-modal img{
    width: 30px;
    cursor: pointer;
  }
  
  .footer-style{
    background-color: #D5EC76;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    position: fixed;
    bottom: 0;
  }
}